{% extends 'rh/base.html' %}
{% block content %}
<div class="page-header">
    <h2>Funcionários</h2>
    <a href="{% url 'funcionario_create' %}" class="btn">+ Novo</a>
</div>

<form method="get">
    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Buscar por nome...">
    <button type="submit">Buscar</button>
</form>
<div class="table-card">
<table>
    <thead><tr><th>Nome</th><th>Cargo</th><th>Departamento</th><th>Admissão</th><th>Ações</th></tr></thead>
    <tbody>
        {% for f in funcionarios %}
        <tr>
            <td>{{ f }}</td>
            <td>{{ f.get_cargo_display }}</td>
            <td>{{ f.departamento }}</td>
            <td>{{ f.data_admissao }}</td>
            <td>
                <a href="{% url 'funcionario_detail' f.pk %}" class="btn-ver">Ver</a>
                <a href="{% url 'funcionario_update' f.pk %}" class="btn-editar">Editar</a>
                <a href="{% url 'funcionario_delete' f.pk %}" class="btn-excluir">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">Nenhum funcionário encontrado.</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="pagination">
    {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>{% endif %}
    <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">Próxima</a>{% endif %}
</div>
{% endblock %}
